html, body {
  margin: 0;
  padding: 20;
  background-color: #72A1B4;    
}

.header {
    font-family: "Hill";
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 34px;
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-top: 20px;
    color: #ffffff;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

IMG {
    width: 600px;
}